<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peer Challenge</title>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <div class="row">
        <button class="col-md-2 btn btn-default newDeck">Cuteness Ahead >>></button>
        <div class="col-md-1"></div>
        <div class="imagesWrapper col-md-10"></div>
        <div class="col-md-1"></div>
    </div>

</body>
</html>